html {
    font-family: 'Work Sans', sans-serif;
 
 }
 body {
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
 }

.wrapper{
    display: grid;
    background-color: #FFB084;
    border-radius: 20px;
    width: 755px;
    height: 459px;
    margin-top: 5%;
    margin-left: 20%;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 20px;
}
/* ////////////////////презентация////////////// */
.presentation{
    background-color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 20px;
    box-shadow: 7px 7px 0px 0px black;  
    width: 250px;
    height: 319px;
    margin-left: 15px;
    margin-top: 15px;

}
.name{
    font-size: 24px;
    font-weight: 700;
    margin-top: 17px;
}
.foto {
    margin-top: 16px;
 }

 .info ul li {
    margin-bottom: 10px;
 }

.info ul{
    list-style: none;
    text-align: start;
    font-size: 12px;
    margin-left: -15px;
  
}
/* <!-- /////////////// БИОГРАФИЯ ///////////////// --> */
.bio{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 7px 7px 0px 0px black;
   padding: 15px 25px 15px 25px;
   grid-column-start: 4;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 2;
   font-weight: 400;
   margin-top: 15px;
   margin-left: -36px;

}

/* //////////////////// ЦЕЛИ //////////////////// */

.goals h2{
    font-size: 16px; 
    text-align: start;
    color: green;
    margin-left: 25px;
}
 
.goals{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 7px 7px 0px 0px #29A71E;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: -31px;
    margin-left: -36px;
}

.goals ul {
    padding-left: 45px;
    margin-top: -10px;
 }
 


/* <!-- //////////////////// Frustrations //////////////////// --> */

.frustration{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 7px 7px 0px 0px #ff0000; 
    grid-column-start: 8;
   grid-column-end: 6;
   grid-row-start: 2;
   grid-row-end: 5;
   margin-top: -31px;
    margin-left: -25px;

}
.frustration h2 {
    font-size: 16px; 
    text-align: start;
    color: #E13535;
    margin-left: 25px;
 }

 .frustration ul {
    padding-left: 45px;
    font-size: 16px;
    line-height: 16px;
    width: 137px;
 }
 
 

/* <!-- ////////////////// MOTTO ////////////////// --> */

.motto{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 0px #000000; 
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    margin-top: -50px;
    margin-left: 20px;
  
}



/* <!-- //////////////////   Dream //////////////////////////// --> */

.dream{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    box-shadow: 7px 7px 0px 0px #3675B0;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 6;
    margin-top: -66px;
    margin-left: -36px;
}


.dream h2{
    font-size: 16px; 
    text-align: start;
    color: #3675B0;
    margin-left: 10px;
    margin-left: 25px;
}

.dream ul {
    padding-left: 45px;
    font-size: 16px;
    margin-top: -5px;
    line-height: 17px;
 }
 

/* ////////////////Personality/////////////////// */

.personality{
    background-color: white;
    border-radius: 20px;
    font-size: 16px;
    text-align: start;
    box-sizing: border-box;
    box-shadow: 7px 7px 0px 0px #000000;
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    margin-top: -74px;
    margin-left: -25px;


}

.personality ul {
    padding-left: 25px;
    font-size: 16px;
    list-style-type: none;
    margin-top: -5px;
    line-height: 17px;
 }
 
 .personality h2 {
    font-size: 14px; 
    text-align: start;
    color: #000000;
    margin-left: 25px;
    
 }

.presentation{
    width: 250px;
    height: 340px;
}



.bio{
    width: 397px;
    height: 117px;
}

.goals{
    width: 200px;
    height: 101px;
}

.dream{
    width: 200px;
    height: 151px;
}

.frustration{
    width: 215px;
    height: 165px;
}

.motto{
    width: 250px;
    height: 62px; 
}

.personality{
    width: 215px;
    height: 89px;
}


